@import "vars";

.group-link {
  overflow: hidden;

  .paragraph {
    position: relative;
  }

  .link-title {
    z-index: 1;
    font-size: 50px;
    text-transform: uppercase;
  }

  .luz-link {
    & a {
      font-size: 20px;
      padding: 6px 40px;
      border: 2px #ffffff solid;
      border-radius: 4px;
      text-transform: uppercase;
      line-height: 1;
      &:after {
        content: "\2192";
        font-size: 20px;
        font-weight: 600;
        margin-left: 8px;
        position: relative;
      }
      &:hover {
        background-color: $white;
        color: $black;
        opacity: 1;
      }
    }
  }

  .scroll-anchor {
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 3;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 0;

    .scroll-arrow {
      width: 48px;
      height: 23px;
    }

    .svg-icon {
      margin-bottom: 2vh;
      fill: transparent;
      stroke: #fff;
      stroke-width: 2;
    }
  }

  .push-hover {
    &:hover {
      margin-bottom: -2px;
    }
  }

}

.page-title,
.luz-link a,
.link-title {
  color: $white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h1 {
  font-size: 70px;
}

.short-background {
  height: auto;
}
