$black: #111111;
$white: #ffffff;

.paragraph--type--links {
  height: 600px;
  //background-position-y: -278px;

  .field--name-field-link a,
  .field--name-field-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: $white;
  }

  .field--name-field-title {
    top: 400px;
    font-size: 90px;
  }

  .field--name-field-link {
    & a {
      font-size: 22px;
      top: 550px;
      padding: 8px 38px;
      border: 2px $white solid;
      border-radius: 6px;
      &:hover {
        text-decoration: none;
        opacity: 0.5;
      }
    }
  }
}
